Source: fogger
Section: python
Priority: extra
Build-Depends: cdbs (>= 0.4.43),
 debhelper (>= 6), libglib2.0-bin, python (>= 2.6.6-3~),
 python-distutils-extra (>= 2.10)
Maintainer: Owais Lone <hello@owaislone.org>
Standards-Version: 3.8.3
XS-Python-Version: current

Package: fogger
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends},
 ${python:Depends},
 gir1.2-notify-0.7,
 python-beautifulsoup,
 gir1.2-gtk-3.0,
 python-requests,
 gir1.2-glib-2.0,
 gir1.2-dbusmenu-glib-0.4,
 gir1.2-unity-5.0,
 python-simplejson,
 gir1.2-soup-2.4,
 gir1.2-gdkpixbuf-2.0,
 gir1.2-webkit-3.0,
 gir1.2-launchpad-integration-3.0,
 yelp
Description: Fogger lets you create sandboxed web apps that behave like regular desktop applications.
 Fogger acts as a bridge between webapps and the linux desktop. It
 exposes an easy to use JS API to webapps which can be used to interact
 with the host desktop environment.
